#start-screen {
    padding: auto;
    position: fixed;     
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: black;
}

body {
    margin:0;   
}

button {
    display:inline-block;
    font-size:1.5em;
    cursor:pointer;
    text-decoration:none;
    padding:13px 48px 13px 48px;
    border-radius:4px;
    color:#ffffff;
    background-color:#1bafdb;
    border: 3px solid #ffffff;
}

p {
    position: absolute;
}

#enemy1 {
    position: absolute;
    width: 360;
    height: 200;
    box-shadow: 0px 0px 4px #64B5F6, 0px 0px 6px #64B5F6;
}
#enemy2 {
    position: absolute;
    width: 360;
    height: 200;
    box-shadow: 0px 0px 4px #64B5F6, 0px 0px 6px #64B5F6;
}
#enemy3 {
    position: absolute;
    width: 360;
    height: 200;
    box-shadow: 0px 0px 4px #64B5F6, 0px 0px 6px #64B5F6;
}

#airfighter {
    position: absolute;
    width: 250px;   
}

#ammoElement {
    position: absolute;
    left: 0;
    top: 0;
    color:#ffffff;
    text-align-last: left;
}

#rocket {
    position: absolute;
    width: 120px;
}

#game-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#healthBar50 {
    position: absolute;
}
  
#healthBar100 {
    position: absolute;
}
  
#healthBar200 {
    position: absolute;
}

#healthBar50text {
    position: absolute;
    color:#ffffff;
    text-align-last: center;
}

#healthBar100text {
    position: absolute;
    color:#ffffff;
    text-align-last: center;
}

#healthBar200text {
    position: absolute;
    color:#ffffff;
    text-align-last: center;
}
