#start-screen {
    padding: auto;
    position: fixed;     
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: black;
}

body {
    margin:0;   
}

button {
    display:inline-block;
    font-size:1.5em;
    cursor:pointer;
    text-decoration:none;
    padding:12px 48px 12px 48px;
    border-radius:4px;
    color:#ffffff;
    background-color:#1bafdb;
    border: 2px solid #ffffff;
}

p {
    position: absolute;
}

#enemy1 {
    position: absolute;
    height: 200px;
}
#enemy2 {
    position: absolute;
    height: 250px;
}
#enemy3 {
    position: absolute;
    height: 150px;
}

#airfighter {
    position: absolute;
    top: 0;
    width: 250px;   
}

#rocket {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 120px;
}

#game-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#bullet {
    position: absolute;
    top: 0;
    height: 3px;
    transform: rotate(0deg);
}

#healthBar {
    position: absolute;
    width: 361;
    height: 10;
    background: rgb(0, 160, 3);
}
