body {
    margin:0;   
}

p {
    position: absolute;
}

#ground {
    position: absolute;
    height: 200px;
}

#airfighter {
    position: absolute;
    top: 0;
    width: 250px;   
}

#rocket {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 100px;
}

#game-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

